<!-- Sidebar -->
<!--<div id="sidebar-wrapper">
   <ul class="sidebar-nav">
       <li class="sidebar-brand">
           <img src="img/logo.png" height="80" class="d-inline-block align-top" alt="">
       </li>
       <li>
           <a href="index.html">Dashboard</a>
       </li>
       <li>
           <a href="ranking.html">Classement</a>
       </li>
       <li>
           <a href="tournamentGenerator.html">Générateur de matchs</a>
       </li>
       <li>
           <a href="characters.html">Figurines</a>
       </li>
   </ul>
   </div>
   <!-- /#sidebar-wrapper -->
<div class="col-md-3 left_col">
   <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
         <img src="img/logo.png" alt="..." class="img-circle profile_img">
      </div>
      <div class="clearfix"></div>
      <!-- menu profile quick info -->
      <div class="profile clearfix">
      </div>
      <!-- /menu profile quick info -->
      <br />
      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
         <div class="menu_section">
            <h3>Tournoi</h3>
            <ul class="nav side-menu">
               <!--<li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="index2.html">Dashboard2</a></li>
                    <li><a href="index3.html">Dashboard3</a></li>
                  </ul>
                  </li>-->
               <li><a href="index.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
               <li><a href="views/ranking.html"><i class="fas fa-sort-numeric-up"></i> Classement</a></li>
               <li><a href="views/tournamentGenerator.html"><i class="fas fa-random"></i> Génération phase</a></li>
            </ul>
         </div>
         <div class="menu_section">
            <h3>Figurines</h3>
            <ul class="nav side-menu">
               <li><a href="views/characters.html"><i class="fas fa-list-ul"></i> Liste</a></li>
               <li><a href="index.html"><i class="fas fa-random"></i> Random team maker</a></li>
            </ul>
         </div>
      </div>
      <!-- /sidebar menu -->
    </div>
</div>
